
<div class="container">



</div>



@model SignalRCore.Web.Models.Payments
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAgents.cshtml";
}
@await Html.PartialAsync("_NavPartial")
@await Html.PartialAsync("_MenuBarPartial")

<div id="page-wrapper">
    <div class="main-page">
        <!--grids-->
        <div class="grids">
            <div class="progressbar-heading grids-heading">
                <h2>Forms</h2>
            </div>

            @using (Html.BeginForm("CreatePayment", "Agents", FormMethod.Post, new { }))
            {
                @Html.ValidationSummary(true)

            <fieldset>
                <legend></legend>
                <div class="editor-label">
                     Name
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.PaymentName)

                </div>
                <div class="editor-label">
                    Id Number
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.AccountNo)

                </div>
                <div class="editor-label">
                    Amount
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Amount)

                </div>

                <div class="editor-label">
                    Phone Number
                </div>

                <div class="editor-field">
                    @Html.TextBoxFor(model => model.PhoneNo)

                </div>
                <div class="editor-label">
                    Transaction Date
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.TransactionDate, "{0:yyyy-MM-dd}", new { type = "date" })

                </div>
                <div class="editor-label">
                    Transaction Code
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.DocumentNo)

                </div>







                <p>
                    <input type="submit" value="Update" id="btnsave" />
                </p>
            </fieldset>
            }
            <div>
                @Html.ActionLink("Close", "Dashboard")
            </div>
        </div>
        <!--//grids-->
    </div>
</div>

