@model SignalRCore.Web.Models.Payments
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAgents.cshtml";
}
@await Html.PartialAsync("_NavPartial")
@await Html.PartialAsync("_MenuBarPartial")

<div id="page-wrapper">
    <div class="main-page">
        <!--grids-->
        <div class="grids">
            <div class="progressbar-heading grids-heading">
                <h2>Forms</h2>
            </div>

            @using (Html.BeginForm("PostPayment", "Agents", FormMethod.Post, new { }))
            {
                @Html.ValidationSummary(true)

            <fieldset>
                <legend></legend>
                <div class="editor-label">
                    ID
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Id, new { @readonly = "readonly" })
                </div>
                <div class="editor-label">
                    Name
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.PaymentName)

                </div>
                <div class="editor-label">
                    Amount
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Amount)

                </div>

                <div class="editor-label">
                    Account No
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.AccountNo)

                </div>






                <p>
                    <input type="submit" value="Update" id="btnsave" />
                </p>
            </fieldset>
            }
            <div>
                @Html.ActionLink("Close", "Dashboard")
            </div>
        </div>
        <!--//grids-->
    </div>
</div>

